@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> _signInManager
@model IEnumerable<Event>
@{

    DateTime currentDate = DateTime.Now.Date;

    int currentYear = ViewBag.currentYear;
    int currentMonth = ViewBag.currentMonth;

    DateTime firstDayOfMonth = new DateTime(currentYear, currentMonth, 1);

    // Определяем день недели первого дня месяца.
    int firstDayOfWeek = (int)firstDayOfMonth.DayOfWeek;

    // Определяем количество дней в месяце.
    int daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth);

    // Определяем количество недель в таблице календаря.
    int totalWeeks = (int)Math.Ceiling((daysInMonth + firstDayOfWeek) / 7.0);

    // Создаем двумерный массив для хранения номеров дней в месяце.
    List<List<int?>> calendarTable = new List<List<int?>>(totalWeeks);
    int currentDay = 1;

    List<List<Event>> eventsByCategories = new List<List<Event>>();

    List<string> uniqueCategories = new List<string>();

    var categories = ViewBag.Categories as List<Category>;

    for (int week = 0; week < totalWeeks; week++)
    {
        List<int?> weekDays = new List<int?>(7);

        for (int dayOfWeek = 0; dayOfWeek < 7; dayOfWeek++)
        {
            if ((week == 0 && dayOfWeek < firstDayOfWeek) || currentDay > daysInMonth)
            {
                weekDays.Add(null); // Пустая ячейка, если день не принадлежит месяцу.
            }
            else
            {
                weekDays.Add(currentDay); // Номер дня месяца.
                currentDay++;
            }
        }

        calendarTable.Add(weekDays);
    }

    //Есть события? А если найду?
    bool IsEvent(DateTime date)
    {
        if (Model.Count(e => e.Date.Date == date.Date) == 0)
        {
            return false;
        }
        else
        {
            return true;
        }
    }
}

<script src="~/js/events.js"></script>

<div class="calendar-grid">
    @for (int i = 0; i < 5; ++i)
    {
        <div class="days" id="days">
            @for (int j = 0; j < 7; ++j)
            {
                

                if (calendarTable[i][j] == null)
                {
                    <div class="day" style="background-color:#f2f2f2">
                        <div class="text">
                            @calendarTable[i][j]
                        </div>
                    </div>
                }
                else if (!_signInManager.IsSignedIn(User))
                {
                    var cellDate = DateTime.Parse(currentYear.ToString() + "-" + currentMonth.ToString() + "-" + calendarTable[i][j].ToString());
                    bool isToday = cellDate.Date == currentDate;
                    <div class="day-num" style="@(isToday ? "border-color:green" : "black")">
                        <div class="number">
                            @calendarTable[i][j]
                        </div>
                    </div>
                }
                else
                {
                    //Переменная для проверки наличия событий в конкретный день.
                    var DateToCheckEvent = DateTime.Parse(currentYear.ToString() + "-" + currentMonth.ToString() + "-" + calendarTable[i][j].ToString());
                    bool isToday = DateToCheckEvent.Date == currentDate;
                    var eventsOnDate = Model.Where(e => e.Date.Date == DateToCheckEvent.Date).ToList();

                    <a asp-controller="Event" asp-action="Index" asp-route-date="@(currentYear)-@(currentMonth)-@calendarTable[i][j]" class="day-num" style=" @(isToday ? " border-color: green;" : "")">
                        @foreach (var c in categories)
                        {
                            if (IsEvent(DateToCheckEvent) && Model.Count(e => e.Date.Date == DateToCheckEvent && e.Category.CategoryColor == c.CategoryColor) != 0)
                            {
                                <div class="event-container">
                                    <div class="color-square color-square-@c.CategoryColor" style="background-color:@c.CategoryColor"></div>
                                    <div class="text category-text-@c.CategoryName">: @Model.Count(e => e.Date.Date == DateToCheckEvent && e.Category.CategoryName == c.CategoryName)</div>
                                </div>
                            }
                        }
                        <div class="number" style="color:black;">
                            @calendarTable[i][j]
                        </div>
                    </a>
                }
            }
        </div>
    }
</div>
@if (Model is not null)
{
    <div class="category-column">
        <partial name ="HomePartials/_CategoryPanel"/>
    </div>
    <div style="display:flex">
        <a class="btn-primary" style="text-decoration:none; padding:10px 20px ; background-color:black;" asp-action="CategoryList" asp-controller="Category">
            Список всех категорий
        </a>
        <div style="flex-grow:1"></div>
        <a style="text-decoration:none; padding:10px 20px ; background-color:black; border-color:black" class="btn-primary" asp-action="SharedEventsList" asp-controller="Event">
            Список событий, которыми вы поделились
        </a>
    </div>
}

