@model IEnumerable<Event>
@{
    ViewData["Title"] = "Событие";
}

<style>
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 20px; /* Расстояние между элементами списка */
    }

    span {
        font-size: 30px; /* Размер шрифта для времени */
        margin-right: 50px; /* Расстояние между временем и именем события */
    }

    a {
        color: black;
        text-decoration: none;
        cursor: pointer;
        font-size: 30px; 
    }

    div.description {
        display: none;
        font-size: 30px;
    }
</style>

@if(!Model.Any())
{
    <h1>У вас ничего не запланировано на сегодня. Добавьте новое событие.</h1>
    <div>
        <a asp-controller="Event" asp-action="NewEvent" asp-route-date="@ViewBag.Date" style="background-color:black" class="btn btn-primary">Добавить событие</a>
    </div>
}
else
{
    <ul>
        @foreach (var Event in Model.OrderBy(e => e.Date))
        {
            <li>
                <span>@Event.Date.ToShortTimeString()</span>
                <a style="color: black; text-decoration: none; cursor: pointer;" onclick="toggleDescription(@Event.Id)">@Event.Name</a>
                <div id="description-@Event.Id" style="display: none;" class="description">
                    @Event.Description
                </div>
            </li>
        }
    </ul>

    <div style="position:absolute; bottom:10%; background-color:black;">
        <a asp-controller="Event" asp-action="NewEvent" asp-route-date="@ViewBag.Date" style="background-color:black"class="btn btn-primary">Добавить событие</a>
    </div>
}

<script>
    function toggleDescription(eventId) {
        var descriptionElement = document.getElementById("description-" + eventId);
        if (descriptionElement.style.display === "none" || descriptionElement.style.display === "") {
            descriptionElement.style.display = "block";
        } else {
            descriptionElement.style.display = "none";
        }
    }
</script>