@model SharedEvents
@{
    List<Category> categories = Model.Events.Select(e => e.Category).Distinct().ToList();
}

<link rel="stylesheet" type="text/css" href="~/css/eventIndex.css" />
<script src="~/js/events.js"></script>

@if(Model is not null)
{
    <div>
        @if(Model.Events.FirstOrDefault().AppUser.Email == User.Identity.Name)
        {
            <span>
                События, которыми вы хотите поделиться:
            </span>
        }
        else
        {
            <span style="font-size:25px">
                С Вами поделились следующими планами:
            </span>
        }
        <ul>
            @foreach (var Event in Model.Events.OrderBy(e => e.Date))
            {
                <li class="element-@Event.Category.CategoryColor" style="display: flex; align-items: center;">
                    <div class="category-color" style="background-color: @Event.Category.CategoryColor;"></div>
                    <span>@Event.Date.ToShortTimeString()</span>
                    <a style="font-size:30px; color: black; text-decoration: none; cursor: pointer;" onclick="toggleDescription(@Event.Id)">@Event.Name</a>
                    <div style="flex-grow: 1;"></div> <!-- Этот элемент занимает всю доступную ширину и создает пространство между названием и описанием -->
                </li>
                <div id="description-@Event.Id" style="display: none; margin-top: 10px;" class="description description-@Event.Category.CategoryColor">
                    @Event.Description
                </div>
            }
        </ul>

        <input style="display:none" type="text" value="https://localhost:7039/ShareEvents/@Model.UniqueIdentifier" id="myInput">
    </div>
    <div style="display:flex">
        <div class="categories">
            <div class="panel" style="">
                @foreach (var category in categories)
                {
                    var categoryName = category.CategoryName;
                    var categoryColor = category.CategoryColor;
                    <div class="checkbox-item">
                        <label>
                            <input type="checkbox" name="selectedCategories" value="@categoryColor" style="accent-color:@categoryColor"
                            data-color="@categoryColor" onchange="updateIndex(this)" checked />
                            @categoryName
                         </label>
                    </div>
                    }
                </div>
        </div>
        <div style="flex-grow: 1;"></div>
        <button class="btn btn-primary" style="background-color:black; border-color:black" onclick="myFunction()">Скопировать ссылку</button>
    </div>
}
